.background{
    background-color: #000000;
    color: #d4e1ff;
    font-size: 9.3pt;
    text-align:justify; 
 
}
.Altbackground{
    text-align:justify;
    font-size: 18pt;
    color: #d4e1ff;
    padding-top: 2%;
    margin-bottom: 2%;
    
    
}
.altpara{
    margin-top:20%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18pt;

    background: rgba(255,255,255,0.1);


}
.editdeletebuttons{
    margin-bottom: 100px;
}

.LeftPanel{
    background-color: #000000;
    margin-right: -50px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.RightPanel{
    background-color: #d4e1ff;
    margin-right: -50px;
}

.ITechTwo{
    text-align: center;    
    
}

.wordOverImage{
    font-size: 110pt;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.ProductsPage{
    background-color: #000000;
    

}

.h3{
    padding-top: 20px;
}
.CreateRefreshButtons{
    margin-top: 60px;
}
.Navbar{
    background-color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subscribeheader{
    margin-left: 370px;
    margin-top: 13%;
    font-size: 43px;
    font-weight:650;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.subscribeparagraph{
    text-align: justify;
    margin-left: 370px;
    margin-right: 450px;
    font-size: 17pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.SubscribePage{
    background-color: #000000;
    color: #d4e1ff;
}
.sf{
    width: 25%;
    margin-left: 27.6%;
}

.empha{
    color: #76f56d;

    
}

.sb{
    margin-left: 27.6%;
   
}
.CImage{
    width: 200%;
}

.DataTable{
    background-color: #ffffff;
    
}


.bannerDataPage{
    color: blue;
}

.andh{
    color: rgb(255, 255, 255);
    margin-right: 190px;
    font-size: 18pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paragraphbanner{
    font-size: 13pt;
    background: rgba(255,255,255,0.1);
    padding: 10px;

    
}

.CardFooter{
    color:black;
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    background-color: #d4e1ff;
}



.tabletitle{
    font-size: 80pt;
}

.tableheader{
    color: #bbbbbb;
}

.tablepara{
font-size: 15pt;
margin-bottom:10%;
color: #bbbbbb;
text-align: justify;
width: 92%;
margin-top: 3%;


}


.blackBG{
    background-color: #000000;
}
.HomeBanner{
    text-align: justify;
    color:#ffffff;    
   
}

.HomeSButtton{
    float:right;
   
      

}
.CardHeader{
    color:black;
}

.FormContainer{
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    margin-top: 15%;
    width: 50%;
    padding: 10px;
    color: #000000;
}


.ColLeft{
    background-color: #5637be;
    
}

.ColRight{
    
    
    color: #000000;
}

.subscribeForm{
    margin-left: 27.6%
}

.APP{
    background-color: #5637be;
   
}

.Transparent{
    opacity: 20%;
}

.form{
    color: #000000;
    display: inline-block;
}


.HomePage{
    background-image: url("../assets/milad-fakurian-nY14Fs8pxT8-unsplash.jpg");
    content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
	display:block;
    background-size: 100% ;
    background-size:cover;
    display:block;
}



.asdContainer{
   padding-left: 40%;
   padding-top: 20%;
 
    
}
.marbleImage{
width: 100%;
height: 100%;
}

.kenburns-bottom-right {
	-webkit-animation: kenburns-bottom-right 45s ease-out both;
	        animation: kenburns-bottom-right 45s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-4-30 20:25:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-bottom-right
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-bottom-right {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 84% 84%;
              transform-origin: 84% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(20px, 15px);
              transform: scale(1.25) translate(20px, 15px);
      -webkit-transform-origin: right bottom;
              transform-origin: right bottom;
    }
  }
  @keyframes kenburns-bottom-right {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 84% 84%;
              transform-origin: 84% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(20px, 15px);
              transform: scale(1.25) translate(20px, 15px);
      -webkit-transform-origin: right bottom;
              transform-origin: right bottom;
    }
  }

  .tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-30 20:33:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #2b0f5c;
    z-index: -1;
    transition: transform .3s ease;
  }
  
  h1 {
    position: relative;
    font-size: 5rem;
  }
  
  html {
    inline-size: 100%;
  }
  
  body {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui, sans-serif;
  }
  
  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }
  .colL{
    background-color: #000000;
  }